body {
    background-image: none;
    background-color: transparent;
}

#Fondo {
    background-image: url(./Assets/Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.Encabezado {
    display: flex;
    justify-content: space-between; ;
    align-items: center;
    flex-direction:row-reverse;
    border-radius: 20px;
    background-color: transparent;
    }

    
.Encabezado div img {
        border-radius: 6%;
        display: flex;
        border-radius: 30px;
    }

#logo { 
        display: flex;
        justify-content: center;
        flex-direction:row-reverse;
        align-items: center;
    }
    
.Botones button{
    font-size: small; 
    display: inline-flex;
    align-items: center;
}

#Login {
    color : white;
    padding: 10px;
    border: 1px solid white; 
}

#Login:hover {
    background-color: grey;
    color : white;
    padding: 10px;
    border: 1px solid white;
}

#signup {
    background-color: white;
    color : black;
    padding: 10px;
    border: 1px solid black;
    
}

#signup:hover {
    background-color: rgba(251, 251, 251, 0.684);
    color : white;
    padding: 10px;
    border: 1px solid white;
}

.Menu ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    }

.Menu ul li {
    margin: 0 10px;
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
    }
