.Encabezado {
    display: flex;
    justify-content: space-between; ;
    align-items: center;
    flex-direction:row-reverse;
    border-radius: 20px;
    background-color: transparent;
}

body {
    background-image: none;
    background-color: transparent;
}

#Fondo {
    background-image: url(./Assets/Imagenes/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.Encabezado div img {
    margin-top: 3.125em;
}

.Encabezado span {
    font-size: 50px;
    color: white;
    font-family: rubi,helvetica,arial,sans-serif;
    margin: 0px;
    font-weight: 700;
    text-shadow: black 0em 0em 0.2em;
    }

#logo { 
        display: flex;
        justify-content: center;
        flex-direction:row-reverse;
        align-items: center;
    }
    
.Botones button{
    font-size: small; 
    display: inline-flex;
    align-items: center;
    border-radius: 5px;
}

#Login {
    color : white;
    padding: 10px;
    border: 1px solid white; 
}

#Login:hover {
    background-color: grey;
    color : white;
    padding: 10px;
    border: 1px solid white;
}

#signup {
    background-color: white;
    color : black;
    padding: 10px;
    border: 1px solid black;
    
}

#signup:hover {
    background-color: rgba(251, 251, 251, 0.684);
    color : white;
    padding: 10px;
    border: 1px solid white;
}

.Menu ul {
    display: grid;
    justify-content: left;
    align-items: center;
    list-style: none;
    position: relative;
    bottom: 90px;
    left: 260px;
    text-shadow: black 0em 0em 0.2em;
}

.Menu ul a {
    text-decoration: none;
    color: white;    
}

.Menu ul li {
    border: 1px solid black;
    padding: 8px;
    border-radius: 20px;
}

main {
    background-color: red;
}

.Introduccion {
    background-color: white;
    margin: 0px 40px 40px 40px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 20px 20px 20px;
    border-radius: 20px;
}

.Introduccion h2 {
    font-size: xx-large;

}